:root{
    font-size: calc(1vmin + 7px);
    --pageBG: #c4c4c4;
    --gameBG: #ffffff;
   --msgColor: #5a5a5a;
   --txtColor: #0000009e;
   --ownColor: #4860b6;
   --hoverN: 60%;
}

html, body {
   height:100vh;
   margin:0;
    background-color: var(--pageBG);
}

[data-theme="dark"] {
    --pageBG: #263252;
    --gameBG: #1e2740;
   --msgColor: #b9cdff70;
   --txtColor: #ffffff82;
   --ownColor: #5385ffa6;
      --hoverN: 140%;
}

.main {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    font-family: -apple-system,BlinkMacSystemFont,Avenir,"Avenir Next","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    height: 100%;
}

header > div, .msgbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header > div, header > input {
    margin: 2vmin;
   padding: 0.8vmin;
   justify-content: center;
}

.themebut{
   cursor:pointer;
   background-color: var(--gameBG);
   border-radius: 1em;
   width: 50%;
}

.themebut:hover, #sendbut:hover {
   filter: brightness(var(--hoverN));
}

.gamearea {
    display: grid;
    grid-gap: 1rem;
    background-color: var(--gameBG);
    border-radius: 15px;
    padding: 0.7rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 50px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /* height: 90vh;   OR  clamp between 85vh and sthg em or % max */
}

.title {
font-size: 3rem;
font-weight: 700;
color: var(--gameBG);
}

.foot{
color: var(--pageBG);
}

.grid {
   margin: 1.2em;
   display: grid;
   grid-template-columns: minmax(150px, 1fr);
   grid-template-rows: repeat(10, auto);
   grid-gap: 0.4em;
   justify-items: start;
}

.grid > div, .gamearea > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

a:link {
color: var(--pageBG);
text-decoration: none; 
}

footer, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--txtColor);
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

footer > * {
    margin: clamp(2em, 20px, 3em) clamp(2em, 20px, 3em) 0 clamp(2em, 20px, 3em);
}

.msgline{
         font-size: 1em;
         color: var(--msgColor);
         border-radius: 0.3em;
         border: none;
         appearance: unset;
         box-shadow: none;
         margin: 0.1em;
         width: 80%;
}

input {
   background-color: transparent;
   color: var(--msgColor);
}


input.inps, textarea{
    font-size: 1.1em;
    border-radius: 0.3em;
    border: none;
    appearance: unset;
    box-shadow: none;
    margin: 0.3em;
}

textarea {
   resize: none;
   background-color: var(--pageBG);
   color: var(--msgColor);
}

input.inps:active, input.inps:focus, input.inps:hover, textarea:active, textarea:focus, textarea:hover{
outline: 0;
}



@media (min-width: 40em) {
    .main {
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
    }
    header {
    grid-column: 1 / 2;
    }
    .gamearea {
        grid-column: 2 / 3;
    }
    header .title {
    font-size: 5rem;
    }
    header .wlogo {
    width: 5rem;
    }
}


@media (max-width: 40em) {
    .gamearea {
        height: clamp(70vh, 80vh, 30em);
    }
}



