:root{
    --greyLeft: #5f6d7e;
    --greyLeftDark: #425164;
    --greyRight: #7a7a7a;
    --grey10: #e7e7e7;
    --grey20: #adadad;
    --grey30: #7a7a7a;
    --grey40: #5a5a5a;
    --grey50: #252525;
    --darkMask: #3131317e;
    --liteMask: #a7a6a680;
    --clrYellow: #ffeb3cdc;
    }

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--grey40);
    color: var(--grey10);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

a:link {
    color: var(--grey20);
    text-decoration: none;
  }

a:hover {
    color: var(--grey40);
}
  
.main {
    display: grid;
    grid-template-columns: 1fr;
  
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  }

.person {
    height: fit-content;
    background-color: var(--greyLeft);
}

.persTop {
  margin-top: 2rem;
}

.persTop, .persBottom, .persTop > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePic {
  margin: 0;
  padding: 0;
  width: 10rem;
  height: 10rem;
  border: 4px solid #495461;
  border-radius: 5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  }

.persBottom{
  width: 100%;
  margin-top: clamp(3rem, calc( 50vh - 20rem ), 30vh);
}

.persBottom > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile{
  font-weight: 300;
}

.name {
font-size: clamp(1.1rem, calc( 1vw + 10px ), 2.2rem);
}

.menuTop{
    color: var(--darkMask);
    font-size: 2em;
    width: 30%;
    background-color: #87ceeb;
  }

.menu {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}
  
  .nav {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    color: var(--greyLeftDark);
    width: 100%;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
  }
  .nav:hover {
    background: #5b6878;
  }
 
.works{
  background-color: var(--greyRight);
  grid-template-columns: 1fr;
  display: grid;
  grid-gap: 0;
  align-items: center;
}
  
.sect {
  padding: clamp(7%, 9vw, 10%);
}

.sect h2 {
font-weight: 300;
line-height: 1.1;
font-size: clamp(1.5rem, calc( 5vw + 10px ), 3rem);
margin-bottom: 2rem;
}

.sect .title {
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.coords{
  margin-top: 1rem;
}


.yt iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: black solid 1vmin;
}


svg.sprite {
  display: none;
}

.svg-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0.7rem;
  fill: var(--grey10);
}

.svg-icon:hover {
  fill: var(--grey40);
}

#writ, #book {
  background-color: var(--grey10);
  color: var(--grey50);
}



form, .beforeForm {
  display: inline;
}


input, button {
  appearance: none;
  border: none;
  border-radius: 10%;
  background-color: var(--grey20);
  color: var(--grey40);
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: var(--grey40);
  color: var(--grey20);
}

.pieces {
  margin: 2rem;
display: grid;
gap: 1rem;
grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}


.tile {
width: 100%;
margin-bottom: 20px;
overflow: hidden;
position: relative;
border-radius: 1rem;
}

.tileShell {
position: absolute;
width: 100%;
height: 100%;
top: 40px;
left: 0;
background: #2c2c2cc0;
opacity: 0;
transition: all 200ms linear;
}

.tileShell .tileCore {
position: absolute;
width: 100%;
left: 0;
/*bottom: 0;*/
padding: 30px;
}

.tile img {
  width: 100%;
  display: block;
}
.tile:hover .tileShell {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.tileShell p {
  color: white;
  font-size: 13px;
  line-height: 20px;
  margin-top: 1rem;
}

.tileCore > span {
  color: white;
  font-size: 1.1rem; 
}

#courses span {
padding-left: 1rem;
padding-right: 1rem;
border-radius: 0.5rem;
margin-bottom: 2rem;
cursor: pointer;
border: 1px solid transparent;
}

#courses span:hover {
  border: 1px solid #ffeb3c2e;
}

#courses p {
  margin-bottom: 0.8rem;
}

#slide {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--grey40);
  padding: clamp(0.2rem, calc(1vw+5px), 1rem);
  border-radius: 1rem;
}

.pause {
  position: absolute;
  top: clamp(0.2rem, calc(1vw+5px), 1rem);
  right: clamp(0.2rem, calc(1vw+5px), 1rem);
  z-index: 2;
  width: 3rem;
  text-align: center;
  color: var(--grey50);
  font-size: 0.7rem;
  background-color: var(--liteMask);
  padding: 0.2rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#slide img {
  width: 100%;
  opacity: 1;
  object-fit: contain;
  transition: ease-in-out 0.3s;
  border-radius: 1rem;
  overflow: hidden;
}


@keyframes fades {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.transit {
  animation: fades 0.7s;
}


.foot {
padding: clamp(1%, 3vw, 4%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 0.7rem;
}

.main[data-tab="0"] #nav0, .main[data-tab="1"] #nav1, .main[data-tab="2"] #nav2, .main[data-tab="3"] #nav3, .main[data-tab="4"] #nav4 
{
    color: var(--greyLeft);
    background-color: var(--greyLeftDark);
    pointer-events: none;
    transition: ease-in-out 0.3s;
}

.main[data-slid="0"] #c0, .main[data-slid="1"] #c1, .main[data-slid="2"] #c2, .main[data-slid="3"] #c3, .main[data-slid="4"] #c4
{
    color: var(--grey50);
    background-color: #ffeb3c26; /* var(--clrYellow)*/
    transition: ease-in-out 0.3s;
}



@media (min-width: 40em) {
  .main {
      height: 100%;
      grid-template-columns: minmax(auto, 20%) 1fr;
  }
  .person {
    grid-column: 1 / 2;
    height: 100%;
    margin: 0;
    position: fixed;
    width: clamp(20%, 20%, 22%);
  }
  .works {
      grid-column: 2 / 3;
  }

  .menuTop{
      height: 0;
      overflow: hidden;
   }

  .menu {
      height: fit-content;
  }

}

